nav {
  background-color: #fbf7e3;
  border-radius: 5em;
  padding: 10px;
}

nav img {
  width: 50px;
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
nav li {
  background-color: #f3df85;
  color: #5c1d01;
  padding: 10px 15px;
  border-radius: 5em;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li p {
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 50px;
}
